html {
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.icon-mail {
    fill: #2D4E79;
}


.mailicon {
-    padding: 17 20px;
+    padding: 17px 20px;
     align-self: center;
     display: block;
 }

  .socialnetworks img {
     margin-left: 40px;
     margin-right: 20px;
+    height: 23px;
 }

 -@media screen and (min-width: 39em) {
-    .enhanced .nav ul {
-        overflow: auto;
-        max-height: inherit;
-    }
-}
-

-li a {
+#portal-globalnav li a {
     color: white;
     text-align: center;
     text-decoration: none;
 }

 +@media screen and (min-width: 39em) {
+    .enhanced .nav ul {
+        overflow: auto;
+        max-height: inherit;
+    }
+}
+
+
+@media screen and (max-width : 900px){
+    .imagelogos img{
+        width: 70%;
+        padding-right: 0;
+    }
+}
+

     .socialnetworks img {
         margin-left: 0px;
         margin-right: 10px;
-        height: 23px;
     }

-@media screen and (max-width : 900px){
-    .imagelogos img{
-        width: 70%;
-        padding-right: 0;
-    }
-}

