/* body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    bottom: 0;
    background: #DFE6E9;
} */

/* .searchbar{
    background-color: red;
    display: none;
} */

/* #lupis{
    display: none;
} */

/* .alltools {
    display: flex;
} */

/* .mailicon {
    padding: 17px 20px;
    align-self: center;
    display: block;
} */

/* .socialnetworks {
    padding: 12px 20px;
    align-self: center;
    display: block;
} */

/* .socialnetworks img {
    margin-left: 20px;
    margin-right: 20px;
    height: 23px;
} */

/* .site-nav-search {
    flex: 1 1 auto;

} */

ul.nav-searchbox-ul{
    justify-content: flex-end;
    display: flex;
}


#LSResult{
    z-index: 1 !important;
    margin-top: 0px !important;
    margin-left: 2px !important;
    right: auto !important;
}


.sesionimg {
    align-self: center;
    display: block;
    padding-top: 17px;
}

#portal-searchboxx{
    display: inline-block;
    float: center;
}

/* Navigation */
/* #mainnavigation-wrapper {
    background: linear-gradient(to bottom, #0F2B4C, #2D4F79);
    font-size: 18px;
}

#mainnavigation-wrapper .skip {
    display: none;
} */

/* .content-center,
.footer-center,
.header-center {
    max-width: 1200px;
    margin: 0 auto;
} */

/* Main bar */
.content-center{
    margin: 10px auto;
}

#livesearch0 .LSBox {
    margin-top: 5px;
}

#searchGadget {
    width: 20em !important;
    align-self: center;
    height: 23px;
}

.lupa{
    height: 26px;
    align-self: center;
}

#searchGadget, .LSBox input.searchButton {
   -moz-appearance: none;
}

.LSBox .searchSection {
    margin-top: -0.4em;
    font-size: 90%;
    width: 75%;
    margin-left: auto;
}

.LSBox .logintext2 {
    color: #205c90;
}

/* */
/* #portal-globalnav li a {
    padding: 10px 6px !important;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
} */

/* #portal-globalnav li:last-child a {
    border-right: 0 !important;
} */

/* .enhanced .nav-primary .skip {
    position: absolute;
    right: 0;
    top: 1.4em;
    background: linear-gradient(to bottom, #0F2B4C, #2D4F79);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
} */

/*#portal-globalnav li a:hover:not(.active) {
    background-color: #111;
}*/

/* #footer-wrapper{
    float: left;
    width: 100%;
    background-color: #DFE6E9;
} */

/* #portal-footer {
    margin: 0 auto !important;
    background-color: #DFE6E9 !important;
} */

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

/* .navigation-button {
    display: none
} */


@media screen and (max-width : 900px){
    .imagelogos img{
        width: 70%;
        padding-right: 0;
    }
}

@media screen and (max-width : 820px){

    .mailtext {
        display: none;
    }

    .mailicon {
        padding: 17px 5px;
    }

    .socialnetworks {
        padding: 12px 5px;
    }

    .socialnetworks img {
        margin-left: 0px;
        margin-right: 5px;
    }

    .sesionimg .logintext {
        display: none;
    }

    .sesionimg img{
        margin-left: 10px;
        margin-right: 5px;
    }

    .logintext2 {
        display: none;
    }

    .searchSection {
        display: none;
    }

    /*for change search text box*/
    #portal-searchboxx{
        display: none
    }
    .searchbar{
        background-color: red;
        display: none;
    }

    #lupis{
        display: contents;
        cursor: pointer;
    }
    #searchGadget {
        width: 100% !important;
        align-self: center;
        height: 23px;
    }

    /* navigsation*/
    /* #mainnavigation-wrapper .skip {
        display: inline;
    }

    .enhanced .nav-primary ul {
        display: grid;
    }

    #portal-globalnav li a {
        padding: 2px 8px 2px !important;
    }

    .enhanced .nav-primary ul {
        display: none;
    }

    .enhanced .nav-primary ul.open {
        display: grid;
    } */
    /* .globalSectionsLevel1 {
        display:  none !important;
    } */

}

/*TODO*/
@media screen and (min-width : 821px){
    #searchbar{
        display: none;
    }
    /*.enhanced .nav-primary ul {
        overflow: auto;
        max-height: inherit;
    }*/
}



/*.enhanced .nav-primary ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    padding: 0;
}
