body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    bottom: 0;
    background: #DFE6E9;
}

.alltools {
    display: flex;
}

.mailicon {
    padding: 17px 20px;
    align-self: center;
    display: block;
}

.socialnetworks {
    padding: 12px 20px;
    align-self: center;
    display: block;
}

.socialnetworks img {
    margin-left: 40px;
    margin-right: 20px;
}


.site-nav-search {
    flex: 1 1 auto;
}

.site-nav-search ul {
    display: flex;
    justify-content: flex-end;
}
/* Navigation */

#mainnavigation-wrapper {
    background: linear-gradient(to bottom, #0F2B4C, #2D4F79);
    font-size: 18px;
}

.content-center,
.footer-center,
.header-center {
    max-width: 1200px;
    margin: 0 auto;
}

/* Main bar */
.content-center{
    margin: 10px auto;
}

#livesearch0 .LSBox {
    margin-top: 5px;
}

#searchGadget {
    width: 20em !important;
}

#searchGadget, .LSBox input.searchButton {
   -moz-appearance: none;
}

.LSBox .searchSection {
    margin-top: 0;
}

.LSBox .logintext2 {
    color: #205c90;
}

/* */
#portal-globalnav li a {
    padding: 20px 8px 20px !important;
}

#portal-globalnav li:last-child a {
    border-right: 0 !important;
}

.enhanced .nav .skip {
    position: absolute;
    right: 0;
    top: 1.4em;
    background: linear-gradient(to bottom, #0F2B4C, #2D4F79);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}

.enhanced .nav ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    padding: 0;
}

.enhanced .nav ul.open {
    max-height: 20em;
}

@media screen and (min-width: 39em) {
    .enhanced .nav ul {
        overflow: auto;
        max-height: inherit;
    }
}


li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#footer-wrapper{
    float: left;
    width: 100%;
    background-color: #DFE6E9;
}

#portal-footer {
    margin: 0 auto !important;
    background-color: #DFE6E9 !important;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

@media screen and (max-width : 800px){

    .mailtext {
        display: none;
    }

    .mailicon {
        padding: 17px 5px;
    }

    .socialnetworks {
        padding: 12px 5px;
    }

    .socialnetworks img {
        margin-left: 0px;
        margin-right: 10px;
        height: 23px;
    }
}
/*
.active {
    background-color: #4CAF50;
}

.herramientas{
    background-color: #B1C5DA;
    width: 80%;
    margin: auto;
}

.top{
    background-color: blue;
    height:54px;
}

.content{
    background-color: #DFE6E9;
    width: 100%;
}

.submenu{
    background-color: green;
    height: 192px;
    margin: auto;
    width: 80%;
}

.navbar{
    background-color: red;
}

.roller{
    background-color: purple;
    width: 80%;
    margin: auto;
}
*/
