[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone43.cfg

[versions]
zc.buildout = 2.5.3
setuptools = 27.3.0
# Pillow = 5.1.0

# manual pinnings
# 2.1.1 is the last supported version for Plone 4.3, but plone.app.contenttypes 1.1.6 is requirering <2.1.0:
plone.app.dexterity = <2.1.0
docutils = 0.14
plone.app.robotframework = 1.2.1
configparser = 3.5.3
plone.testing = 5.0.0
jsonschema = 2.6.0
###



# Added by buildout at 2019-05-29 13:03:42.501175
PyYAML = 3.12
argh = 0.26.2
backports.functools-lru-cache = 1.5
certifi = 2018.11.29
chardet = 3.0.4
createcoverage = 1.5
flake8-blind-except = 0.1.1
flake8-coding = 1.3.1
flake8-commas = 2.0.0
flake8-debugger = 3.0.0
flake8-deprecated = 1.3
flake8-isort = 2.7.0
flake8-pep3101 = 1.2.1
flake8-plone-api = 1.4
flake8-plone-hasattr = 0.2.post0
flake8-print = 3.0.1
flake8-quotes = 2.0.1
flake8-string-format = 0.2.3
flake8-todo = 0.7
futures = 3.2.0
idna = 2.6
isort = 4.3.20
mccabe = 0.6.1
pathtools = 0.1.2
pkginfo = 1.5.0.1
plone.app.dexterity = 2.0.19
plone.recipe.codeanalysis = 3.0.1
plone.rest = 1.4.0
pyflakes = 1.5.0
tqdm = 4.31.1
urllib3 = 1.22
watchdog = 0.8.3

# Required by:
# plone.restapi==4.0.0
PyJWT = 1.7.1

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.36

# Required by:
# zest.releaser==6.13.5
colorama = 0.4.1

# Required by:
# flake8==3.3.0
enum34 = 1.1.6

# Required by:
# jsonschema==2.6.0
functools32 = 3.2.3.post2

# Required by:
# imtheme.complex==1.0a1
plone.restapi = 4.0.0

# Required by:
# imtheme.complex==1.0a1
plone.schema = 1.2.0

# Required by:
# flake8-isort==2.7.0
testfixtures = 6.8.2

# Required by:
# imtheme.complex==1.0a1
z3c.jbot = 0.8

# Added by buildout at 2019-05-29 13:44:44.363627

# Required by:
# imtheme.complex==1.0a1
collective.themefragments = 2.11.1

# Required by:
# imtheme.complex==1.0a1
collective.themesitesetup = 2.1.2

# Required by:
# imtheme.complex==1.0a1
plone.app.themingplugins = 1.1

# Required by:
# collective.themesitesetup==2.1.2
polib = 1.1.0
