#portal-searchbox{
  clear: none;
  margin: 3px;
  padding-right: 10px;

}

.searchField{
  height: 30px;
}

.tools{
  background-color: #B1C5DA;
  height: 58px;
}
.alltools{
  width: 80%;
  background-color: green;
  margin: auto;
}

.sesionimg{
  float: right;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #B1C5DA;
  height: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.logintext{
  margin:10px;
}

.emailviewlet{
  height: 56px;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #B1C5DA;
}


#searchGadget{
  width: 20em;
}

.searchSection{
  margin-top: 0px;
  margin-left: 5em;
}
