/*For menu display */
#portal-globalnav{
    background-image: linear-gradient(#0F2B4C, #2D4F79) !important;
    margin: 0px !important;
}

#portal-globalnav li a{
   background-image: linear-gradient(#0F2B4C, #2D4F79) !important;
   color: white;

   }

#mainnavigation ul{
  padding: 0px !important;
}


/*
******************************************************************
For searchbox
******************************************************************
*/
#portal-searchbox{
  clear: none !important;
  margin: 3px !important;
  padding-right: 10px;

}

.searchField{
  height: 30px;
}

.tools{
  background-color: #B1C5DA;
  height: 58px;
}
.alltools{
  max-width: 1200px;
  background-color: #B1C5DA;
  margin: auto;
}


.logintext{
  margin:10px;
}

.logintext2{
  margin:10px;
}



/*
******************************************************************
For logos div
******************************************************************
*/

#submenu-wrapper{
  background-color: #DFE6E9;
}

.logos-home{
    /*padding: 10px;*/
    height: 193px;
    background-color: #DFE6E9;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0px;
  }
ul.globallinks{
    display: inline-grid;
    float: right;
    list-style-type: circle;
    height: 193px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #DFE6E9;
    padding-right: 10px;
  }

ul.globallinks li{
    margin: 8px;
  }

.imagelogos{
  float: left;
  padding-right: 20px;
  height: 193px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #DFE6E9;
}


/*@media screen and (min-width : 1200px)  {

}*/

@media screen and (min-width : 1024px) and (max-width : 1199px) {

  .logos-home{
    max-width: 1024px;
    margin: auto;
  }

  .imagelogos{
    padding-right: 20px;
    max-width: 256px;
  }


}


@media screen and (max-width : 768px){
  .logos-home{
    max-width: 768px;
    margin: auto;
  }

  .imagelogos{
    padding-right: 8px;
    max-width: 172px;
  }

  ul.globallinks li{
    margin: 4px;
    font-size: 80%;
  }

  .alltools{
    max-width: 768px;
  }
  #portal-searchbox{
    padding-right: 0px;
  }

  .logintext{
    margin: 3px;
    font-size: 80%;
  }


}

@media screen and (max-width: 480px){
  .logos-home{
    max-width: 480px;
    margin: auto;
    display: inline-flex;
  }

  .imagelogos{
    padding-right: 8px;
    max-width: 120px;
  }

  ul.globallinks{
    padding-right: 5px;
  }

  ul.globallinks li{
    margin: 4px;
  }

  .alltools{
    max-width: 480px;

  }
  #portal-searchbox{
    padding-right: 0px;
  }


  #searchGadget{
    max-width: 8.5em !important;
  }

  .logintext{
    margin: 3px;
    font-size: 80%;
  }

  .logintext2{
    /*margin: 3px;*/
    /*font-size: 80%;*/
    display: none;
  }

}

/*iPhone Landscape*/
/*@media screen and (min-width: 321px) and (max-width: 479px) {
}*/

/*iPhone Portrait*/
/*@media screen and (max-width: 320px) {
}*/
