body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(239, 246, 247);
    margin: 0;
    padding: 0;
}

.top-wrapper {
    background-color: #B4CBE5;
    color: #2c4e78;
}

.container-xl {
    max-width: 1200px;
}

header {
    margin-bottom: 16px;
}

/* Social media */
.social-media,
.sedes-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.social-media img {
    vertical-align: middle;
    padding-top: 14px;
    padding-bottom: 14px;
}
.social-media a {
    display: inline-block;
}

.top-text-xl {
    display: none;
}

.session {
    float: right;
}

/* menu */
ul.supermenu {
    list-style-type: none;
    padding-left: 0px;
}

ul.supermenu li a {
    color: #2c4e78;
    display: block;
    /* text-align: center; */
    text-decoration: none;
    font-size: 18px;
}

ul.supermenu li a:hover{
    background-color: #f4b31a;
}

/* ul.supermenu li a:hover:not(.active) {
    background-color: #2c4e78;
  }
  
  ul.supermenu li a .active {
    background-color: #4CAF50;
  } */

/* Sedes */
.sedes-wrapper {
    display: grid;
    grid-template-columns: 297px;
    grid-column-gap: 3px;
    column-gap: 3px;
    grid-row-gap: 3px;
    row-gap: 3px;
    justify-content: center;
}

.sede-img {
    color: white;
    height: 136px;
    max-width: 297px;
    background-repeat: no-repeat;
}

.sede-cu {
    background-image: url("../images/unidades/CU-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #b6b4c4;
}

.sede-cu:hover {
    background-image: url("../images/unidades/CU.jpg");
}

.sede-cuernavaca {
    background-image: url("../images/unidades/Cuernavaca-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #724b59;
}

.sede-cuernavaca:hover {
    background-image: url("../images/unidades/Cuernavaca.jpg");
}

.sede-juriquilla {
    background-image: url("../images/unidades/Juriquilla-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #1d90c2;
}

.sede-juriquilla:hover {
    background-image: url("../images/unidades/Juriquilla.jpg");
}

.sede-oaxaca {
    background-image: url("../images/unidades/Oaxaca-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #cb8554;
}

.sede-oaxaca:hover {
    background-image: url("../images/unidades/Oaxaca.jpg");
}

.sede-title {
    font-size: 1.5em;
    font-weight: bold;
}

.sede-img > div {
    text-align: center;
    padding-top: 18px;
}

.sede-img a:link, .sede-img a:visited  {
    color: white;
    text-decoration: none;
}

.sede-img a:hover{
    color: #f4b31a;
}

/* Slider - Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /*transition: background-color 0.6s ease;*/
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dots{
    width: 950px;
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    opacity: 1;
}

@media (min-width: 660px) {
    .social-media img {
        margin-right: 10px;
    }

    /* .sedes-wrapper {
        grid-template-columns: 297px 297px;
    } */
}

@media (min-width: 768px) {
    header {
        margin-bottom: 30px;
    }

    .sedes-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@media (min-width: 1200px) {
    .container-xl {
        margin-right: auto;
        margin-left: auto;
    }

    .top-text-xl {
        display: initial;
        font-weight: bold;
        font-size: 1.5em;
    }
}
