body {
    font-family: 'Open Sans', Arial;
    margin: 0;
    padding: 0;
    bottom: 0;
    background: rgb(240, 246, 247);
}

.top-wrapper {
    display:  grid;
    background-color: #B4CBE5;
    height: 58px;
    grid-template-columns: 200px fit-content(1200px) 100px;
}

.container-xl {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.sedes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3px;
    column-gap: 3px;
    grid-row-gap: 3px;
    row-gap: 3px;
    justify-content: center;
}

.sede-img {
    color: white;
    height: 136px;
    max-width: 297px;
    background-repeat: no-repeat;
}

.sede-cu {
    background-image: url("../images/unidades/CU-b.jpg");
    border-bottom: 16px solid #b6b4c4;
}

.sede-cu:hover {
    background-image: url("../images/unidades/CU.jpg");
}

.sede-cuernavaca {
    background-image: url("../images/unidades/Cuernavaca-b.jpg");
    border-bottom: 16px solid #724b59;
}

.sede-cuernavaca:hover {
    background-image: url("../images/unidades/Cuernavaca.jpg");
}

.sede-juriquilla {
    background-image: url("../images/unidades/Juriquilla-b.jpg");
    border-bottom: 16px solid #1d90c2;
}

.sede-juriquilla:hover {
    background-image: url("../images/unidades/Juriquilla.jpg");
}

.sede-oaxaca {
    background-image: url("../images/unidades/Oaxaca-b.jpg");
    border-bottom: 16px solid #cb8554;
}

.sede-oaxaca:hover {
    background-image: url("../images/unidades/Oaxaca.jpg");
}

.sede-title {
    font-size: 1.5em;
    /* padding-top: 18px; */
    font-weight: bold;
}

.sede-img > div {
    text-align: center;
    padding-top: 18px;
}

.sede-img a:link, .sede-img a:visited  {
    color: white;
    text-decoration: none;
}

.sede-img a:hover{
    color: #f4b31a;
}


.sede-calendar {
    background-image: url("../images/icons-svgs/calendar-alt-regular.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 30px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
}

@media (max-width: 768px) {
    .sedes-wrapper {
        grid-template-columns: 297px 297px;
    }
}

@media (max-width: 375px) {
    .sedes-wrapper {
        grid-template-columns: 297px;
    }
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /*transition: background-color 0.6s ease;*/
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.dots{
  width: 950px;
  /*width: 600px;*/
  /*margin: auto;*/
  margin-top: -20px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  opacity: 1;
  /*z-index: 6;*/
  /*position: absolute;*/
}
