body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(239, 246, 247);
    margin: 0;
    padding: 0;
}

.top-wrapper {
    background-color: #B4CBE5;
    color: #2c4e78;
}

.container-xl {
    max-width: 1200px;
}

header {
    margin-bottom: 16px;
}


/* Social media */
.social-media,
.sedes-wrapper,
.navigation,
.main-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.social-media img {
    vertical-align: middle;
    padding-top: 14px;
    padding-bottom: 14px;
}
.social-media a {
    display: inline-block;
}

.top-text-xl {
    display: none;
}

.session {
    float: right;
}

/* menu */
.navigation{
    margin-top: 5px;
}

.navigation .fa{
    font-size: 32px;
    color: #2c4e78;
    display: inline-block;
}

nav ul.supermenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul.supermenu li a {
    display: none;
    color: #2c4e78;
    text-decoration: none;
    font-size: 16px;
}

nav ul.supermenu li a:hover{
    background-color: #f4b31a;
}

nav ul.supermenu.responsive li a {
    display: block;
}

nav ul.supermenu li:nth-last-child(3){
    margin-left: 3em;
}

/* Logos */
.submenu {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
}

.logo-unam {
    max-width: 25%;
}

.logo-im {
    max-width: 50%;
}

.submenu-accions {
    float: right;
    max-width: 40%;
}

.submenu-accions ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Sedes */
.sedes-wrapper {
    display: grid;
    grid-template-columns: 297px;
    grid-column-gap: 3px;
    column-gap: 3px;
    grid-row-gap: 3px;
    row-gap: 3px;
    justify-content: center;
}

.sede-calendar{
    background: url('../images/icons-svgs/calendar-alt-regular.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.sede-calendar:hover{
    background: url('../images/icons-svgs/calendar-alt-regular-b.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.sede-img {
    color: white;
    height: 136px;
    max-width: 297px;
    background-repeat: no-repeat;
}

.sede-cu {
    background-image: url("../images/unidades/CU-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #b6b4c4;
}

.sede-cu:hover {
    background-image: url("../images/unidades/CU.jpg");
}

.sede-cuernavaca {
    background-image: url("../images/unidades/Cuernavaca-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #724b59;
}

.sede-cuernavaca:hover {
    background-image: url("../images/unidades/Cuernavaca.jpg");
}

.sede-juriquilla {
    background-image: url("../images/unidades/Juriquilla-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #1d90c2;
}

.sede-juriquilla:hover {
    background-image: url("../images/unidades/Juriquilla.jpg");
}

.sede-oaxaca {
    background-image: url("../images/unidades/Oaxaca-b.jpg");
    border-bottom-style: solid;
    border-bottom: 16px solid #cb8554;
}

.sede-oaxaca:hover {
    background-image: url("../images/unidades/Oaxaca.jpg");
}

.sede-title {
    font-size: 1.5em;
    font-weight: bold;
}

.sede-img > div {
    text-align: center;
    padding-top: 18px;
}

.sede-img a:link, .sede-img a:visited  {
    color: white;
    text-decoration: none;
}

.sede-img a:hover{
    color: #f4b31a;
}


/* Slider - Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /*transition: background-color 0.6s ease;*/
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dots{
    width: 950px;
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    opacity: 1;
}

/* Main */
.main-wrapper {
    display: grid;
}

.column-logos {
    display: grid;
    align-self: baseline;
    justify-self: center;
    margin-top: 20px;
    row-gap: 10px;
}

@media (min-width: 660px) {
    .social-media img {
        margin-right: 10px;
    }

    .submenu {
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo-unam {
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    header {
        margin-bottom: 30px;
    }

    .sedes-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .navigation .fa {
        display: none;
    }

    nav ul.supermenu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* margin-top: 18px; */
    }

    nav ul.supermenu li a {
        display: block;
        margin-top: 20px;
        padding: .5em 1em;
        border-right: 1px solid #b4cbe5;
    }

    ul#my-topnav li:nth-last-child(4) a {
        border-right: none;
    }

    ul#my-topnav li:last-child a {
        border-right: none;
    }

    ul#my-topnav li:nth-last-child(-n+3) a:hover {
        color: rgb(239, 246, 247);
        background-color: rgb(185, 36, 44);
    }

    /* Main */
    .main-wrapper {
        /* grid-template-columns: 2fr 5fr 2fr; */
        /* grid-column-gap: 148.5px; */
        /* column-gap: 148.5px; */
        /* justify-content: center; */
    }

}

@media (min-width: 1200px) {
    .container-xl {
        margin-right: auto;
        margin-left: auto;
    }

    .top-text-xl {
        display: initial;
        font-weight: bold;
        font-size: 1.5em;
    }
    .main-wrapper {
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-areas: 
            "a b c"
            "a b d"
            "a b d";
        column-gap: 148.5px;
        justify-content: center;
    }

    .column-logos {
        grid-area: c;
    }
}

/* Slicebox Style */
.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 144px;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    max-width: 100%;
    display: block;
}

.sb-description {
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    background: #CBBFAE;
    background: rgba(190,176,155, 0.4);
    border-left: 4px solid rgba(255,255,255,0.7);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #fff;

    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
    background: rgba(190,176,155, 0.7);
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -o-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    backface-visibility : hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    -moz-backface-visibility : hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*For rotated news */
#rotatednews{
    height: 296px;
    max-height: 296px;
}
ul.ulrotated {
    list-style-type: none;
    height: 220px;
    overflow-y: hidden;
    padding-inline-start: 0px;
    margin-block-start: 0px;
  }

li.lirotated div.documentByLine{
    display: none;
}

div.news_imstandard div.documentByLine{
    display: none;
}

div.news_imstandard .description{
    display: none;
}

div.collection_im_without_summary div.documentByLine{
    display: none;
}

.standard-topic {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #2c4E78;
}

.standard-topic:nth-last-of-type(even) {
  background-color: rgba(180, 203, 229, 0.3);
  border-color: rgba(180, 203, 229, 0.3);
}

.standard-topic h2{
    border-left: 8px solid #B4CBE5;
    padding-left: 0.3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #2C4E78;
    font-weight: bold;
}

#rotatednews ul {
    list-style: none;
    padding-left: 10px;
}

#rotatednews li a {
    text-decoration: none;
    color: #2C4E78;
}

.line-separated li{
    border-style: dashed;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(180, 203, 229, 0.3);
}

#notices h3 a{
    text-decoration: none;
    color: #2C4E78;
}

#notices {
    padding-left: 10px;
}

.content-container img {
    width: 100%;
}
